.main-classlist-item{
    display: grid;
    grid-template-columns: 28% 28% 20% 20%;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.main-classlist-item_block{
    display: flex;
    align-items: center;
    height: 50px;
    background-color: var(--bg-white);
    box-shadow: 0px 2px 6px 0px rgba(19, 18, 66, 0.04);
}
.main-classlist-item_block img {
    width: 40px ;
    height: 40px;
    border-radius: 50%;
    margin: 0 20px ;
}
.main-classlist-item_block >  h4{
    font-size: 16px;
    padding: 0 0 0 15px;
    display: flex;  
    font-weight: 400;
    color: var(--text-grey); 
}
.main-block_birthday{
    color: var(--text-blue)!important;
}
