.main-page{
    width: calc(100% - 40px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-page_head{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
/* main page statistics section's css part */
.main-page-head_title{
    color: var(--text-dark-blue);
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}
.main-page-head_statistics{
    width: 100%;
    display: grid;
    grid-template-columns: 22.5% 22.5% 15% 15% 15% ;
    gap: 2.5%;
    height: 110px;
}
.main-page-head_statistics li{
    list-style: none;
    background-color:  var(--bg-white);
    padding: 10px 0;
    box-shadow: 0px 2px 6px 0px rgba(19, 18, 66, 0.05);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-page-head_icon{
    font-size: 30px;
    color: var(--text-blue);

}
.main-page-head_statistics li h4{
    color: var(--text-grey);
    font-size: 14px;
    font-weight: 400;
    padding: 7px 0;
}
.main-page-head_statistics li h3{
    color: var(--text-dark-blue);
    font-size: 15px;
    font-weight: 400;
    display: flex;
}
.main-page-head_statistics li button{
    padding: 15px;
    border-radius: 15px;
    background: var(--bg-white);
    font-size: 13px;
    margin: 0 0 7px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-blue);
    border: 2px solid var(--text-blue);
    cursor: pointer;
}
.main-page-head_statistics li button:hover{
    background: linear-gradient(92.96deg, #5D5FEF 20.08%, rgba(236, 49, 240, 0.35) 173.78%);
    color: var(--color-white);
}

/*main page bottom side  */
.main-page_bottom{
    width: 100%;
    height: calc(100vh - 65px);
    display: flex;
    flex-direction: column;
}

.main-bottom_left-classlist{
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: auto;
    margin: 10px 0 20px 0;
}

.main-bottom_left-classlist::-webkit-scrollbar {
    display: none;
}

