.list-of-patients {
    padding: 0 20px;
    flex-grow: 1;
}

.list-of-patients-head {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px 0 0;
}

.list-of-patients-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.list-of-patients-header,
.list-of-patients-item {
    display: grid;
    grid-template-columns: 6% repeat(4, 1fr);
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    color: var(--text-dark-blue);
    border-bottom: 1px solid rgb(197, 193, 193);
    padding: 15px 8px;
    font-size: 15px;
}

.list-of-patients-list {
    min-height: calc(100vh - 440px);
}

.list-of-patients-list>*+* {
    border-bottom: 1px solid rgb(197, 193, 193);
}

.list-of-patients-item{
    cursor: pointer;
}

.list-of-patients-item:hover {
    background-color: #fff;
}

.list-of-patients-item-wrap {
    display: flex;
    gap: 8px;
    align-items: center;
}

.list-of-patients-item-img {
    width: 10%;
    overflow: hidden;
    border-radius: 50%;

    img {
        height: 100%;
    }
}