.error-404{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.bg-img-404{
    left: 0;
    width: 100%;
    height: auto;
    position: absolute;
}
.error-block{
    width: 75%;
    height: 90%;
    border-radius: 30.538px;
    border: 5.09px solid #EFF0F6;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(25.448572158813477px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.error404img{
    width: 30%;
    height: auto;
}
.error-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error-title{
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.8px;
    background: var(--linear, linear-gradient(93deg, #5D5FEF 20.08%, rgba(236, 49, 240, 0.35) 173.78%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.error-paragraph{
    color: var(--text-grey);
    text-align: center;
    width: 550px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 10px 0;
}
.book-btn1{
    color: var(--color-white)!important;
    font-size: 18px;
    line-height: 32px;
    border-radius: 15px;
    background: var(--asosiy-btn-color, linear-gradient(93deg, #5D5FEF 20.08%, rgba(236, 49, 240, 0.35) 173.78%));
    padding: 10px 43px !important;
    border: none;
    cursor: pointer;
}