.payment-head, .payment-card{
    width: 100%;
    display: grid;
    grid-template-columns: 4% 18% 15% 13% 12% 13% 14% 11%;
    margin: 15px 0;
}
.payment-card, .harajat-card{
    margin: 0;
    height: 55px;
    align-items: center;
    border-bottom: 1px solid grey;
    color: rgb(8, 2, 54);
}
.payment-content{
    width: 100%;
    min-height: calc(100vh - 410px);
    overflow: auto;
}
.payment-content::-webkit-scrollbar{
    display: none;
}
.harajat-head, .harajat-card{
    width: 100%;
    display: grid;
    grid-template-columns: 4% 18% 22% 15% 15% 12% 14%;
}
.harajat-head, .payment-head{
    color: grey;
    margin: 15px 0;
}
.harajat-head div, .payment-head div{
    font-weight: 400;
    font-size: 16px;
}
.harajat-card div, .payment-card{
    text-transform: capitalize;
    font-size: 15px;
    color: var(--text-dark-blue);
}