.add-employee {
    padding: 20px;
    flex-grow: 1;
}

.add-employee-title {
    padding-bottom: 30px;
}

.add-employee-title>*+* {
    margin-top: 10px;
}

.add-employee-line {
    border: 1px solid #D9DBE9;
    max-width: 600px;
}

.add-employee-form{
    padding: 50px 0;
}

.add-employee-form>*+* {
    margin-top: 20px;
}

.add-employee-form-content {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}