.patient-reception {
    padding: 20px;
    flex-grow: 1;
}

.patient-reception-header,
.patient-reception-item,
.patient-reception-footer {
    display: grid;
    gap: 10px;
}

.patient-reception-header {
    grid-template-columns: 6% repeat(4, 1fr);
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.patient-reception-footer {
    grid-template-columns: repeat(3, 1fr);
}

.patient-reception-body {
    height: calc((100vh - 550px));
    overflow-y: scroll;
    position: relative;
}

.patient-reception-body::-webkit-scrollbar {
    display: none;
}

.patient-reception-btn {
    position: fixed;
    right: 45px;
    bottom: 200px;
    padding: 0;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.patient-reception-btn:hover {
    color: #333 !important;
}

.patient-reception-item {
    grid-template-columns: 6% repeat(4, 1fr);

    .label {
        min-height: 65px;
    }
}

.patient-reception-item-index {
    padding-top: 25px;
    padding-left: 5px;
}

.patient-reception-item-action {
    display: inline-flex;
    align-items: start;
    gap: 5px;

    button {
        cursor: pointer;
        padding-top: 30px;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 18px;
        color: #FF333F;
    }

    button:hover {
        color: #FFB7BB;
    }
}