.shifohona{
    width: 100%;
    height: calc(100vh - 155px);
    overflow: auto;
}
.shifohona::-webkit-scrollbar{
    display: none;
}
.shifohona form{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.shifohona form div input{
    width: 100%;
}
.sec{
    margin-top: 20px;
    width: 15px;
    height: 15px;
    box-shadow: none;
}