.employees{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.employees .patientdata_navbar-block{
    width: 95%;
    height: 65px;
}
.employee-content{
    width: 95%;
}
.rooms-head{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}