.app{
  display: flex;
  flex-direction: column;
}
.app-block{
  width: 100%;
  display: flex;
}
.app-content{
  border-top-left-radius: 15px;
  background-color: var(--bg-color-f5f5f5);
  position: relative;
  width: calc(100% - 345px);
  height: calc(100vh - 80px);
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: start;
}
.app-content::-webkit-scrollbar {
  display: none;
}