@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');


*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

:root {
  --bg-color-f5f5f5: #f7f8f9;
  --color-black: black;
  --bg-black: black;
  --color-white: white;
  --bg-white: white;
  --text-grey: #737791;
  --text-dark-blue: #171f54;
  --text-blue: #5D5FEF;
  
}

:root {
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none ;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:focus,
button:focus-visible {
  outline: 4px auto var(--text-blue);
}

.input-style{
  margin-top: 15px;
  padding: 0 10px ;
  height: 50px;
  box-sizing: border-box;
  /* Neutral/300 */
  border: 1px solid rgb(239, 240, 247);
  border-radius: 15px;

  /* Input/Default */
  box-shadow: 0px 2px 6px 0px rgba(19, 18, 66, 0.07);
  /* Neutral/100 */
  background: rgb(255, 255, 255);
}
.input-style:focus,
.input-style:focus-visible {
  outline: 1px auto var(--text-grey);
}
.form-label-style{
  color: rgb(23, 15, 73);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.form-btn{
  border: 1px solid rgb(93, 95, 239);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  padding: 10px 40px;
  border-radius: 10px;
  background: linear-gradient(150.16deg, rgb(93, 95, 239) 20.312%,rgba(236, 49, 240, 0.35) 176.867%);
}
.form-btn:hover{
  background: linear-gradient(150.16deg, rgb(93, 95, 239),rgba(236, 49, 240, 0.35));
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  background-clip:text;
  cursor: pointer;

}