.massaj .rooms-head {
    width: 100%;
    padding: 5px 0;
}

.rooms-head input,
.rooms-head select {
    margin: 0;
}

.massaj-content,
.rahbarlar-content,
.results-content {
    min-height: calc(100vh - 400px);
    overflow: hidden;
}

.pagination-btn-download:hover {
    color: rgb(93, 95, 239);
}